body {
  overflow-x: hidden;
}

/* 전체보다 위 */
.header-wrapper {
  position: relative;
}

/* 전체 */
.header-all {
  display:flex; 
  justify-content: space-between;
  height: 80px;
  top: 0; /* 상단에 고정 */
  position: sticky; /* 스크롤 시에도 고정되도록 설정 */
  z-index: 1000; /* 다른 요소 위에 표시되도록 설정 */
  font-family: 'Pretendard', sans-serif;
  color: #000000af;
  background-color: white;
  padding: 0 20px;
  align-items: center;  
}

/* 로고 전체 */
.logo-wrapper {
  flex: 1;  
  display: flex;
  text-align: center;
}

/* 로고 배경 */
.logo-background {
  width: 300px;
  object-fit: cover;
  margin-left: -40px;
  margin-top: 0px;
}

/* 로고 텍스트 */
.logo-text {
  position: absolute;
  top: 20px;
  left: 125px;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: rgb(0, 0, 0);
  font-weight: 800;
  white-space: nowrap;
}

/* 햄버거 아이콘 (초기 숨김 → 모바일에서만 보임) */
.menu-icon {
  flex: 1;
  text-align: right;
  font-size: 30px;
  cursor: pointer;
  display: none;
}

/* 메뉴 전체 */
.header-nav-menu {
  flex: 1; /* 가운데로 정렬 쉽게 만들기 위해 */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
  display:flex; 
  align-items:center; /* 수직 중앙 정렬 */
  justify-content: center;  /* 👉 중앙정렬 */
  white-space: nowrap; /* 줄 바꿈 방지*/
  overflow: hidden;
  position: absolute;
  font-weight: 800;
}

/* 메뉴만 */
.nav-menu-container {
  display: flex;
}

/* 메뉴 각각 */
.nav-menu-content {
  flex-shrink: 1;
  margin: 0 40px;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer; /* 👉 이거 추가 */
}
  /* 메뉴 호버 */
  .nav-menu-content:hover {
      color: #6841ea;;
      transition: color 0.3s;
  }


/* 반응형 모바일 스타일 적용 */
@media (max-width: 768px) {

  /* 햄버거 아이콘 */
  .menu-icon {
    display: block;
  }
  /* 로고 부분 */
  .logo-text {
    font-family: 'Pretendard', sans-serif;
    font-weight: 700;
  }  

  /* 메뉴 전체 */
  .header-nav-menu {
    display: none;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Freesentation', sans-serif;
    flex-direction: row;
    justify-content: center;
    overflow-x: auto;
    box-sizing: border-box;
    z-index: 999;
    white-space: nowrap;
  }
    @keyframes slideInRightMenu {
      from { opacity: 0; }
      to { opacity: 1; }
    }

  /* 오픈 했을때 */
  .header-nav-menu.open {
    display: flex;
    align-items: flex-start;
    animation: slideInRightMenu 1.0s ease forwards;
  }

  .nav-menu-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }  
  
  /* 메뉴 각각 */
  .nav-menu-content {
    flex-shrink: 1;
    font-size: 2.5vw;
    text-align: center;
    border-radius: 10px;  /* ← 이 한 줄 추가 */
    background-color: #FA7000;
    color: #ffffff;
    padding: 10px;
    margin: 0 8px;
    font-weight: 800;
  }
}