body {
  overflow-x: hidden;
}

  @keyframes slideInLeft {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slideInRight {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

/* 메인 전체 */
.main_container {
  justify-content: center;
}

/* 메인 배경 이미지 */
.main_image {
  position: relative;
  margin: auto;
  display: block;
  width: 81%;
}
  .main_image.animate {
    animation: slideInLeft 1s ease-out forwards;
  }
    
/* 메인 글씨 */
.overlay_text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* 마우스 안 막게 처리 */
}

/* 메인 위 큰 글씨*/
  .overlay_image_1 {
  position: absolute;
  top: 16.4%;
  left: 10.6%;
  width: 44.2vw;
  height: auto; /* 세로 비율 유지 */
  }

/* 메인 위 작은 글씨*/
.overlay_image_2 {
  position: absolute;
  top: 79.3%;
  left: 12.5%;
  width: 15.4vw;
  height: auto;
}
  .overlay_image_1.animate,
  .overlay_image_2.animate {
    animation: slideInRight 1s ease-out forwards;
  }

/* 깃허브 로고 */
.social-sidebar {
  position: fixed;
  top: 85%;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px 5px;
}
  .social-sidebar a img {
    width: 40px;
    height: 40px;
    transition: transform 0.2s ease;
  }
  .social-sidebar a img:hover {
    transform: scale(1.1);
  }

/* 맨위로 올리는 스크롤 아이콘 */
.scroll-top {
  width: 50px;
  height: 50px;
  color: #FA7000;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.scroll-to-top:hover {
  transform: scale(1.1);
}  


/* 📱 모바일 대응 (반응형 부분 추가) */
@media (max-width: 768px) {
  
  body {
    overflow-x: hidden;
  }
  
  /* 메인 전체 */
  .main_container {
    height: 88vh;
  }

  /* 메인 배경 이미지 */
  .main_image {
    position: relative;
    top : 13%;
    right: 130.5%;
    margin: auto;
    display: block;
    width: 230%;
    height: auto;
  }

  /* 메인 글씨 */
  .overlay_text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none; /* 마우스 안 막게 처리 */
    inset: 0;
  }

  /* 메인 위 큰 글씨*/
  .overlay_image_1 {
    position: absolute;
    top: 5%;
    left: 0%;
    width: 90%;
  }
 
  /* 메인 위 작은 글씨*/
  .overlay_image_2 {
    position: absolute;
    top: 20%;
    left: 1.9%;
    width: 30%;
  }

  /* 깃허브 로고 */
  .social-sidebar {
    right: 20px;
  }

  .social-sidebar a img {
    width: 30px;
    height: 30px;
  }

  /* 맨위로 올리는 스크롤 아이콘 */
  .scroll-top {
    width: 40px;
    height: 40px;
    font-size: 20px;
  }
}