/* 전체 스크롤 스냅 컨테이너 */
.coverletter-container {
  width: 100%;
}

/* 각 페이지 전체화면 */
.coverletter-page {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

/* 이미지들 */
  .coverletter-image {
  max-height: 120vh;
  object-fit: contain;
  border-radius: 8px;
  margin: 0 0px;
  }

  /* 모바일 반응형 추가 */
  @media (max-width: 768px) {
    
  .coverletter-page {
    display: block;
    margin-top: 10%; 
  }

    .coverletter-image {
      display: block;
      width: 90%;  /* 이미지 크기 조절 */
      max-height: none;
      margin: 20px auto;  /* 이미지끼리 간격 */
    }
  }  