body {
  font-family: 'FontAwesome'; /* 기본 폰트 설정 */
  font-weight: 00;
  margin: 0;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('/public/fonts/fontawesome-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}